# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.vscode/
*.dbmdl
*.dbproj
*.pdb
*.cache
*.log
*.DS_Store
*.swp
*.sln.docstates
# Visual Studio
.vs/
# NuGet
*.nupkg
# Build Results
*.dll
*.exe
# Test Results
TestResults/
# Others
*.tmp
*.bak
*.ide
*.orig
# Rider
.idea/
# OS
Thumbs.db
Desktop.ini
